{% extends "core/base.html" %}
{% block content %}
<h1>Sobre</h1>
<p><strong>A Jornada de Criação do Meu Site Portfólio<p></strong>

    Como um programador iniciante com apenas seis meses de experiência, embarque na jornada de criação do meu próprio site e portfólio foi tantas solicitações tão maravilhosamente gratificantes. Este projeto não foi apenas uma oportunidade de aplicar os conhecimentos que adquiri até agora, mas também um marco importante no meu desenvolvimento como desenvolvedor.<p>

    
    Desde o início, o objetivo era claro: criar um espaço online onde eu pudesse fornecer continuamente meus projetos, habilidades e progresso no mundo da programação. Comecei com uma pesquisa detalhada sobre os melhores frameworks e tecnologias para o meu nível de conhecimento. Após algumas considerações, decidi usar <strong><em>HTML, CSS e JavaScript,</strong></em> que são as bases do desenvolvimento web, juntamente com o framework <strong><em>Bootstrap</strong></em> para facilitar a criação de um design responsivo.<p>

    
    Além disso, utilizei Python e Django para construir o back-end do site. Essa escolha foi motivada pela minha vontade de aprender mais sobre desenvolvimento full-stack e trabalhar com uma linguagem poderosa e um framework robusto. <strong><em>Python,</strong></em> com sua sintaxe simples e clara, facilitou a escrita de código eficiente, enquanto <strong><em>Django</strong></em> proporcionou uma estrutura sólida para desenvolver aplicações web de forma rápida e segura.<p>
    
    O processo começou com o esboço do layout do meu site. Usei ferramentas de wireframe para planejar a estrutura e a navegação. Queria garantir que o site fosse intuitivo e fácil de usar, tanto para recrutadores quanto para colegas desenvolvedores. A etapa de design foi uma das mais desafiadoras, pois envolveu a criação de uma identidade visual que refletisse minha personalidade e estilo de programação.<p>

    
    Com o design em mãos, comecei a codificar. A construção do site foi um excelente exercício de prática de modificação, desde a criação de componentes reutilizáveis ​​até a implementação de interatividade com <strong><em>JavaScript.</strong></em> Integrar o front-end com o back-end em <strong><em>Django</strong></em> foi uma experiência enriquecedora, pois me permitiu entender melhor como os dados são gerenciados e apresentados em uma aplicação web.<p>

    
    Para tornar o site dinâmico e interativo, adicionei alguns projetos que desenvolvi durante meus estudos. Cada projeto foi descrito detalhadamente, incluindo os desafios enfrentados e as soluções encontradas. Além disso, criei uma seção de blog onde planejo compartilhar minhas experiências e aprendizados no campo da programação.<p>

    
    A etapa final envolveu a hospedagem do meu site. Escolha uma plataforma de hospedagem adequada e configure um domínio personalizado. Ver meu site ao vivo pela primeira vez foi uma experiência inesquecível. Foi o culminar de meses de aprendizagem e trabalho árduo.<p>

    
    Criar meu portfólio de site foi uma experiência transformadora. Não apenas me proporcionou uma plataforma para mostrar meu trabalho, mas também me ensinou lições valiosas sobre planejamento, design e resolução de problemas. Como programador iniciante, estou orgulhoso desse alcance e ansioso para continuar aprimorando minhas habilidades e expandindo meu portfólio.</p>
{% endblock %}